.image {
  border-radius:50%;
}

body {
  background-color: #f6f5f5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #1f3c88;
  width: 5%;
}
a {
  color: #ee6f57;
}
h1{
  color: #070d59;
}
h3{
  color: #070d59;
}
.center {
  margin: auto;
  width: 66%;
}

p {
  text-align: justify;
}

.head {
  text-align: center;
  text-decoration: underline;
}

.word {
  text-justify: inter-word;
}
.quote {
  text-align: center;
}

.datehead {
  text-align: right;
  text-decoration: underline;
}

.date {
  text-align: right;
}

.periodhead {
  text-align: center;
  text-decoration: underline;
}

.period {
  text-align: left;
  text-decoration: underline;
}

.job {
  text-align: center;
}

.jobhead {
  text-align: center;
  text-decoration: underline;
}

.tag {
  text-align: left;
}

.table {
  margin: auto;
  text-align: center;
}
